<% provide(:title, "About") %>

<div class="above-the-fold">
  <h2 id="hello">Hello there!</h2>

  <h2 id="please">Pleased to meet you.</h2>
  
  <div class="button-spacing">
    <div class="cta-box-top-wrapper"><%= link_to "Meet Me", "#story", class: "btn btn-lg btn-primary" %></div>
  </div>
</div>
  
<div class="below-the-fold">
  <div class="wrapper" id="story">
    
    <h1 style="margin-bottom: 25px; margin-top: 10px;">Fun Facts</h1>
    <div class="info">
      <div class="about-block">
	    <ul id="baseball">
		  <li>I've sung and played piano for <a href="https://www.facebook.com/JeremyKwaMusic/videos/1506988112662815/">4 hours straight</a></li>
		  <li>I once slept overnight outside a police station in Greece</li>
		  <li>I go to baseball games early to catch practice balls</li>
		  <li>I have perfect pitch (musically)</li>
	    </ul>
	  </div>

	  <div class="about-block">
	    <%= image_tag("https://c1.staticflickr.com/1/624/33275879475_961700a731_b.jpg", :alt => "atat", :size => "360x240") %>
	  </div>
	</div>

    <div id="favorite">
      <div id="spacer">
      </div>
      <div class="about-block">
    	<%= image_tag("https://c1.staticflickr.com/4/3816/32892926580_cb8d15e926_b.jpg", :alt => "atat", :size => "360x240") %>
      </div>
      <div class="about-block">
        <div id="fav-text-box">
          <ul id="meat">
            <li>Favorite Food: Steak and Buffalo Wings</li>
            <br>
            <li>Favorite Dessert: Bacon</li>
            <br>
            <li>Favorite Video Game: StarCraft 2</li>
            <br>
            <li>Favorite Show: Parks And Recreation</li>
		  </ul>
	    </div>
	  </div>
	</div>
    <div class="info">
      <div class="about-block">
	    <ul id="ucsd">
		  <li>Graduated from UCSD in Mechanical Engineering (Go Tritons!)</li>
		  <li>Currently building websites and apps</li>
		  <li>Picking up audio engineering as a hobby</li>
		  <li><em>Always learning new things along the way</em></li>
		  <li>See what I'm <%= link_to "passionate", passions_path, :id => "h" %> about.</li> 
	    </ul>
	  </div>

	  <div class="about-block">
	    <%= image_tag("https://c1.staticflickr.com/4/3739/33135107202_b30fe452af_z.jpg", :alt => "atat", :size => "360x240") %>
	  </div>
	</div>
	<div style="height: 20px">
    </div>
      <div class="button-spacing">
	      <a href='#top' class="btn btn-lg btn-primary">Back to Top</a>
	  </div>
	</div>
  </div>
</div>