<% provide(:title, "Portfolio") %>
<div id="portfolio-background">
  <div id="portfolio-wrapper">
    <h1>Portfolio</h1>
    <div class="center">
      <%= link_to image_tag("github_logo.png", :alt => "github logo", :size => "100x41"), "https://github.com/jerminatorhits" %>
    </div>
	<div id="project-container">  
	  <div class="project">
	    <%= link_to image_tag("mock_twitter.jpg", :alt => "twitter project", :size => "200x125"), "https://rails-tutorial-jk-sample-app.herokuapp.com" %>
	    <h4>Mock Twitter</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("blog.jpg", :alt => "Blog", :size => "200x125"), "https://stormy-peak-17975.herokuapp.com/articles/1" %>
	    <h4>Blog</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("sketchpad.jpg", :alt => "Sketch Pad", :size => "200x125"), "https://jerminatorhits.github.io/sketchpad/" %>
	    <h4>Sketch Pad</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("mock_twitter.jpg", :alt => "twitter project", :size => "200x125"), "https://rails-tutorial-jk-sample-app.herokuapp.com" %>
	    <h4>Mock Twitter</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("blog.jpg", :alt => "Blog", :size => "200x125"), "https://stormy-peak-17975.herokuapp.com/articles/1" %>
	    <h4>Blog</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("sketchpad.jpg", :alt => "Sketch Pad", :size => "200x125"), "https://jerminatorhits.github.io/sketchpad/" %>
	    <h4>Sketch Pad</h4>
	  </div>
	</div>
  </div>
</div>