<% provide(:title, "Portfolio") %>
<div id="portfolio-background">
  <div id="portfolio-wrapper">
    <h1>Portfolio</h1>
    <div class="center">
      <%= link_to image_tag("https://c1.staticflickr.com/3/2905/32432812054_1b1747b276_z.jpg", :alt => "github logo", :size => "100x41"), "https://github.com/jerminatorhits" %>
    </div>
	<div id="project-container">  
	  <div class="project">
	    <%= link_to image_tag("https://c1.staticflickr.com/4/3667/33147896051_c0e65dcb7c_b.jpg", :alt => "twitter project", :size => "200x125"), "https://rails-tutorial-jk-sample-app.herokuapp.com" %>
	    <h4>Mock Twitter</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("https://c1.staticflickr.com/4/3669/32432775834_01053773c5_b.jpg", :alt => "Blog", :size => "200x125"), "https://stormy-peak-17975.herokuapp.com/articles/1" %>
	    <h4>Blog</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("https://c1.staticflickr.com/3/2938/33275930675_189cc7b1fa_b.jpg", :alt => "Sketch Pad", :size => "200x125"), "https://jerminatorhits.github.io/sketchpad/" %>
	    <h4>Sketch Pad</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("https://c1.staticflickr.com/4/3825/33292867245_b47ddf075d_z.jpg", :alt => "twitter project", :size => "200x125"), "https://lyricsdatabase.herokuapp.com/" %>
	    <h4>Lyrics Database</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("https://c1.staticflickr.com/4/3669/32432775834_01053773c5_b.jpg", :alt => "Blog", :size => "200x125"), "https://stormy-peak-17975.herokuapp.com/articles/1" %>
	    <h4>Blog</h4>
	  </div>
	  <div class="project">
	    <%= link_to image_tag("https://c1.staticflickr.com/3/2938/33275930675_189cc7b1fa_b.jpg", :alt => "Sketch Pad", :size => "200x125"), "https://jerminatorhits.github.io/sketchpad/" %>
	    <h4>Sketch Pad</h4>
	  </div>
	</div>
  </div>
</div>