<h2>Traveling</h2>

  <p>I love seeing new places and meeting new people, especially through travel.  It contributes to understanding and appreciating the human experience.  I've learned much about myself and what makes other people both happy and sad.  Here are some of the places I've visited:
  </p>
  
  <div class="img-container">
    <div class="img-box">
      <div class="img-space">
    <a href="assets/images/eiffel.jpg" class="img-thumbnail html5lightbox" data-group="travel" title="Paris"><%= image_tag("eiffel.jpg", alt: "Paris", width:"152", height: "118") %></a>
      </div>
    <h4>Paris</h4>
    </div>
    <div class="img-box">
      <div class="img-space">
    <a href="assets/images/amsterdam.jpg" class="img-thumbnail html5lightbox img-rotate" data-group="travel" title="Amsterdam"><%= image_tag("amsterdam.jpg", alt: "Amsterdam", width:"118", height: "152") %></a>
      </div>
    <h4>Amsterdam</h4>
    </div>
    <div id="weird-image">
    <a href="assets/images/krakow.jpg" class="img-thumbnail html5lightbox" data-group="travel" title="Kraków"><%= image_tag("krakow.jpg", alt: "Kraków", width:"118", height: "152") %></a>
    <h4>Kraków</h4>
    </div>
    <div class="img-box">
      <div class="img-space">
    <a href="assets/images/prague.jpg" class="img-thumbnail html5lightbox img-rotate" data-group="travel" title="Prague"><%= image_tag("prague.jpg", alt: "Prague", width:"152", height: "118") %></a>
      </div>
    <h4>Prague</h4>
    </div>
    <div class="img-box">
    <a href="assets/images/vienna.jpg" class="img-thumbnail html5lightbox" data-group="travel" title="Vienna"><%= image_tag("vienna.jpg", alt: "Vienna", width:"152", height: "118") %></a>
    <h4>Vienna</h4>
    </div>
    <div class="img-box">
    <a href="assets/images/budapest.jpg" class="img-thumbnail html5lightbox" data-group="travel" title="Budapest"><%= image_tag("budapest.jpg", alt: "Budapest", width:"152", height: "118") %></a>
    <h4>Budapest</h4>
    </div>
    <div class="img-box">
    <a href="assets/images/london.jpg" class="img-thumbnail html5lightbox" data-group="travel" title="London"><%= image_tag("london.jpg", alt: "London", width:"152", height: "118") %></a>
    <h4>London</h4>
    </div>
    <div class="img-box">
    <a href="assets/images/berlin.jpg" class="img-thumbnail html5lightbox" data-group="travel" title="Berlin"><%= image_tag("berlin.jpg", alt: "Berlin", width:"152", height: "118") %></a>
    <h4>Berlin</h4>
    </div>
  </div>